{% extends 'base.html' %} {% load static %} {% block content %}


<a href="{% url 'highOpioids' %}">Who is currently prescribing high levels of opioids (compared to other non-opioid drugs)?</a>
<br>
<a href="{% url 'overallPrescriptions' %}"> How many opioid drugs have been prescribed?</a>


<p>Who is currently prescribing only opioids?</p>
<table>
    <tr>
        <th>Prescribers only prescribing opioids:</th>
    </tr>
    {% for counter in prescribers %}
    <tr>
        <td>
            {{counter.prescriberid}}
        <td>
    </tr>
    {% endfor %}


    

</table>





{% endblock %}