{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container">
	<table>
		<tr>
			<th>Prescriber</th>
			<th>Gender</th>
			<th>Credentials</th>
			<th>Location</th>
			<th>Specialty</th>
		</tr>
		{% for prescriber in prescribers %}
		<tr>
			<td>
				<a href="{% url 'showSinglePrescriber' npi=prescriber.npi %}">{{ prescriber.full_name }}</a>
			</td>
			<td>{{ prescriber.gender }}</td>
			<td>{{ prescriber.credentials }}</td>
			<td>{{ prescriber.state }}</td>
			<td>{{ prescriber.specialty }}</td>
			<td>
				<a href="{% url 'editPrescriber' npi=prescriber.npi %}">Edit</a>
			</td>
			<td>
				<a href="{% url 'deletePrescriber' npi=prescriber.npi %}">Delete</a>
			</td>
		</tr>
		{% endfor %}
	</table>
</div>

<script defer>
	function doSometing() {
		document.getElementById("gender").value = "{{record.gender}}";
	}

	doSometing();
</script>
{% endblock %}
white_check_mark
eyes
raised_hands














