{% extends 'base.html' %} {% load static %} {% block content %}


    <br>
        {% comment %} #same person editing form is the one submitting it {% endcomment %}
        {% csrf_token %}

        <input type="hidden" id="npi" name="npi" value="{{record.npi}}">

        <p>
            <label>Name:</label>
            {{record.full_name}}
            <br><br>
            <label>Gender:</label>
            {{record.gender}}
            <br><br>
            <label>Specialty:</label>
            {{record.specialty}}
            <br><br>
            <label>Credentials:</label>
            {{record.credentials}}
            <br><br>
            <label>State:</label>
            {{record.state}}
            <br><br>
            <label>Specialty:</label>
            {{record.specialty}}
            <br><br>
            <label>Total Qty:
            <br><br>
            {% for counter in tripledata %}
            {{counter.drugname}}
            {{counter.qty}}
            <br><br>
            {% endfor %}
            <label>Average for each Drug:</label>
            <br><br>
            {% for counter in avgdata %}
            {{counter.drugname}}
            {{counter.average}}
            <br><br>
            {% endfor %}

        </p>



        <button type="submit" >Update</button>
</div>

<script defer>
    function doSometing() {
        document.getElementById('gender').value = "{{record.gender}}"
        document.getElementById('state').value = "{{record.state}}"
    }
    
    doSometing();
</script>
{% endblock %}